// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/colors

// --------------------------------

:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-progressive, 329, 59%, 18%);
  @include defineColorHSL(--color-progressive-1, 329, 50%, 28%);
  @include defineColorHSL(--color-progressive-2, 329, 40%, 38%);
  @include defineColorHSL(--color-progressive-3, 329, 30%, 50%);
  @include defineColorHSL(--color-progressive-4, 329, 30%, 60%);

  @include defineColorHSL(--color-challenger, 355, 79%, 58%);
  @include defineColorHSL(--color-challenger-1, 355, 75%, 65%);
  @include defineColorHSL(--color-challenger-2, 355, 70%, 70%);
  @include defineColorHSL(--color-challenger-3, 355, 65%, 75%);
  @include defineColorHSL(--color-challenger-4, 355, 60%, 80%);

  @include defineColorHSL(--color-restless, 28, 79%, 62%);
  @include defineColorHSL(--color-restless-1, 28, 90%, 72%);
  @include defineColorHSL(--color-restless-2, 28, 90%, 77%);
  @include defineColorHSL(--color-restless-3, 28, 90%, 82%);
  @include defineColorHSL(--color-restless-4, 28, 90%, 87%);

  @include defineColorHSL(--color-genuine, 191, 100%, 15%);
  @include defineColorHSL(--color-genuine-1, 191, 90%, 25%);
  @include defineColorHSL(--color-genuine-2, 191, 80%, 35%);
  @include defineColorHSL(--color-genuine-3, 191, 60%, 45%);
  @include defineColorHSL(--color-genuine-4, 191, 50%, 55%);

  @include defineColorHSL(--color-inclusive, 170, 99%, 30%);
  @include defineColorHSL(--color-inclusive-1, 170, 90%, 40%);
  @include defineColorHSL(--color-inclusive-2, 170, 70%, 50%);
  @include defineColorHSL(--color-inclusive-3, 170, 70%, 60%);
  @include defineColorHSL(--color-inclusive-4, 170, 70%, 60%);

  @include defineColorHSL(--color-charcoal, 180, 1%, 14%);
  @include defineColorHSL(--color-smart, 240, 7%, 24%);
  @include defineColorHSL(--color-smart-1, 240, 7%, 34%);
  @include defineColorHSL(--color-smart-2, 240, 6%, 44%);
  @include defineColorHSL(--color-smart-3, 240, 6%, 54%);
  @include defineColorHSL(--color-smart-4, 240, 6%, 64%);
  @include defineColorHSL(--color-smart-5, 240, 6%, 74%);
  @include defineColorHSL(--color-smart-6, 240, 6%, 84%);
  @include defineColorHSL(--color-smart-7, 240, 6%, 94%);

  @include defineColorHSL(--color-offwhite, 49, 22%, 85%);
  @include defineColorHSL(--color-offwhite-1, 49, 20%, 90%);
  @include defineColorHSL(--color-offwhite-2, 49, 18%, 95%);
  @include defineColorHSL(--color-offwhite-3, 49, 18%, 98%);




  --color-primary-darker: var(--color-progressive);
  --color-primary-dark: var(--color-progressive);
  --color-primary: var(--color-progressive);
  --color-primary-light: var(--color-progressive-2);
  --color-primary-lighter: var(--color-progressive-4);

  @include defineColorHSL(--color-accent-darker, 349, 75%, 36%);
  @include defineColorHSL(--color-accent-dark, 349, 75%, 44%);
  @include defineColorHSL(--color-accent, 349, 75%, 51%);
  @include defineColorHSL(--color-accent-light, 349, 75%, 59%);
  @include defineColorHSL(--color-accent-lighter, 349, 75%, 67%);

  // black + white
  --color-black: var(--color-charcoal);
  --color-white: var(--color-offwhite);

  // feedback
  @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
  @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
  @include defineColorHSL(--color-success, 94, 48%, 56%);
  @include defineColorHSL(--color-success-light, 94, 48%, 65%);
  @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

  @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
  @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
  @include defineColorHSL(--color-error, 349, 75%, 51%);
  @include defineColorHSL(--color-error-light, 349, 75%, 59%);
  @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  // color contrasts
  --color-bg: var(--color-offwhite);
  --color-contrast-lower: var(--color-charcoal);
  --color-contrast-low: var(--color-smart-5);
  --color-contrast-medium: var(--color-smart-3);
  --color-contrast-high: var(--color-smart-1);
  --color-contrast-higher: var(--color-charcoal);
}

// --------------------------------

// (END) Global editor code

// --------------------------------