/* -------------------------------- 

File#: _1_bottom-navigation-bar
Title: Bottom Navigation Bar
Descr: Mobile navigation bottom bar

-------------------------------- */

.bottom-navbar {
    background: var(--color-progressive);
}

.bottom-navbar-item {
    position: relative;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--space-sm) 0;

    color: var(--color-progressive-4);
    text-decoration: none;

    transition: color ease 0.2s, background ease 0.2s;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--color-restless);

        transition: height ease 0.2s;
    }

    &:hover, &.active {
        color: var(--color-restless);
        fill: var(--color-restless);
    }

    &:hover {
        background: var(--color-progressive-1);
    }

    &.active {
        &::after {
            height: var(--space-xxs);
        }

        .bottom-navbar-item--icon {
            fill: var(--color-restless);
        }
    }

    .bottom-navbar-item--icon {
        width: 2em;
        height: 2em;
    }

    .bottom-navbar-item--text {

    }
}